<!DOCTYPE html>
<html>
  <head>
    <title>CMS: <%=@page_title || "admin_area"%></title>
    
    <style>
      span.status {display: block; width: 10px; height: 10px;
      margin: 0.25em auto; padding: 0; border: 1px solid #000000; }
      span.status.true {background: green; color: green; }
      span.status.false {background: red; color: red; }
    </style>

  </head>

  <body>
    <% if !flash[:notice].blank?%>
    <div class ="notice">
      <%= flash[:notice] %>
    </div>
    <%end%>
    <%= yield %>
  </body>
</html>